/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #external-events {
  padding: 10px;
  width: 200px;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.fc-event {
  margin: 5px 0;
  padding: 4px 6px;
  background: #3788d8;
  color: white;
  cursor: move;
}

/* 20分スロットの1つあたりの高さを強制指定（例: 60px） */
.fc-timegrid-slot {
  height: 60px !important;
}


@import url('https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.css');
@import url('https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.11/index.global.min.css');
